# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Mac
.DS_Store
.DS_store

# Document temporary files
._*

# Executables
*.exe
*.out
*.app
*.svg
*.blend1
cave-outliner
